/* 
  1-9 copied from https://www.joshwcomeau.com/css/custom-css-reset/
*/ /*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: Noto Sans, sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-blue-1: #2f80ed;

  --clr-gray-1: #828282;
  --clr-gray-4: #bdbdbd;
  --clr-gray-m-5: #4f4f4f;

  --clr-black: #000;

  --vw-sm: 640px;
  --vw-md: 768px;
  --vw-lg: 1024px;
  --vw-xl: 1280px;
  --vw-2xl: 1536px;
}
body.light {
  --clr-text: #333333;
  --clr-bg-elements: #fff;
  --clr-input-active: #2f80ed;
  --link-color: hsl(193 77.9% 43.9%);

  --clr-black: #000;

  --clr-blue-2: #a5c5eed5;

  --clr-gray-2: #e0e0e0;
  --clr-gray-3: #d3d3d3;

  --clr-white: #fff;
  --clr-white-1: #eee;
}
body.dark {
  --clr-text: #e0e0e0;
  --clr-bg-elements: #252329;
  --clr-input-active: #779dcf;
  --link-color: hsl(193 77.9% 53.9%);

  --clr-black: #e0e0e0;

  --clr-blue-2: lightgray;

  --clr-gray-2: #5c5c5c;
  --clr-gray-3: #858585;

  --clr-white: #111;
  --clr-white-1: #333;
}
body {
  background-color: var(--clr-bg-elements);
  color: var(--clr-text);
  transition: all 0.3s ease;
}

a {
  color: var(--link-color);
}

.wrapper {
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}
button {
  cursor: pointer;
}

.text-sm {
  font-size: 14px;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.link {
  color: var(--link-color);
}
.error {
  color: red;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.page-center {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.transition {
  transition: all 0.3s ease;
}
